@import '.';

.header {
  width: calc(100% - 4rem);
  margin: 0 2rem;
  position: relative;
  height: 49px;
  margin-bottom: 80px;
  display: table;
}

.header__home,
.header__hamburger {
  width: 49px;
  background: var(--color-economist);
  vertical-align: middle;
  text-align: center;
}

.header__home use,
.header__hamburger use {
  fill: white;
}

.header__home {
  border-right: 1px solid var(--color-thimphu);
  border-left: 1px solid var(--color-thimphu);
}

.header__spacer {
  background: var(--color-beijing);
  width: 100%;
}

.header__share {
  width: 49px;
  min-width: 49px;
}

.header__home,
.header__hamburger,
.header__spacer,
.header__share {
  display: table-cell;
  line-height: 0;
}
