@import '@economist/component-icon';
@import '@economist/component-palette';
@import '@economist/component-toggle-display';
@import '@economist/component-sharebar';

.win-sharebar {
  position: relative;
}

.win-sharebar .toggle-display__content {
  position: absolute;
  top: 49px;
  right: 0;
}

.win-sharebar [data-display="open"] .toggle-display__content {
  border-top: 1px solid var(--color-thimphu);
}

@media screen and (min-width: 650px) {
  .win-sharebar .toggle-display__content {
    top: 0;
    right: 50px;
  }

  .win-sharebar .toggle-display__button {
    background-color: var(--color-beijing);
  }

  .win-sharebar .toggle-display__button:hover {
    background-color: var(--color-kiev);
  }

  .win-sharebar [data-display="open"] .toggle-display__content {
    border: 0 none;
    border-left: 1px solid var(--color-thimphu);
    border-right: 1px solid var(--color-thimphu);
  }
}
